{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
    <h1>Experience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Post</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.startDate ? experience.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ experience.endDate ? experience.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ experience.post }}</td>
                <td>
                    <a href="{{ path('app_experience_show', {'id': experience.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
